<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>228739177811-qu523qpeddr8s2t3u3quadjc0r8jrd7s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228739177811-qu523qpeddr8s2t3u3quadjc0r8jrd7s</string>
	<key>API_KEY</key>
	<string>AIzaSyCwMaSb5TCqCLQW79XDb7p4aDcd0IDaxjw</string>
	<key>GCM_SENDER_ID</key>
	<string>228739177811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.TestGTM</string>
	<key>PROJECT_ID</key>
	<string>testgtm-999</string>
	<key>STORAGE_BUCKET</key>
	<string>testgtm-999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228739177811:ios:48247bc8e1dc755a</string>
	<key>DATABASE_URL</key>
	<string>https://testgtm-999.firebaseio.com</string>
</dict>
</plist>